<div class="flex items-center justify-center min-h-screen m-4">
  <div
    class="max-w-md mx-auto bg-blue-600 shadow-lg rounded-lg overflow-hidden"
  >
    <div class="bg-gray-400 p-4">
      <div class="bg-blue-600 p-4 rounded-lg">
        <div class="flex items-center justify-between mb-2">
          <button
            class="bg-blue-600 hover:bg-blue-800 text-white p-2 rounded-lg transition-colors"
          >
            <a [routerLink]="['']" class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 19l-7-7m0 0l7-7m-7 7h18"
                />
              </svg>
            </a>
          </button>

          <h2 class="text-2xl font-bold text-center text-white">
            {{ pokemonDetails()?.name | titlecase }}
          </h2>

          <div class="text-white text-right">
            No. {{ pokemonDetails()?.id }}
          </div>
        </div>
      </div>
      <img
        class="w-full h-100 object-cover"
        [src]="
          pokemonDetails()?.sprites?.other?.['official-artwork']?.front_default
        "
        alt="pokemonDetails().name"
      />
    </div>
    <div class="bg-gray-400 p-4">
      <div class="bg-blue-600 rounded-lg">
        <div class="p-4">
          <div class="flex flex-row justify-around">
            <div class="flex flex-col">
              <h3 class="text-lg text-center font-semibold">Stats:</h3>
              <ul class="list-disc list-inside m-2">
                @for (stats of pokemonDetails()?.stats; track stats.stat.name) {
                <li>
                  {{ stats.stat.name | titlecase }}: {{ stats.base_stat }}
                </li>
                }
              </ul>
            </div>

            <div class="flex flex-col">
              <h3 class="text-lg font-semibold text-center">Types:</h3>
              <ul class="list-disc list-inside m-2">
                @for (type of pokemonDetails()?.types; track type.type.name) {
                <li>
                  {{ type.type.name | titlecase }}
                </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
