<div class="flex items-center justify-center min-h-screen">
  <div
    class="max-w-md mx-auto bg-blue-600 shadow-lg rounded-lg overflow-hidden"
  >
    <div class="bg-blue-800 p-4">
      <h2 class="text-2xl font-bold text-center text-white">
        {{ pokemon.name }}
      </h2>
    </div>
    <img
      class="w-full h-100 object-cover"
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
      alt="Bulbasaur"
    />
    <div class="p-4">
      <h3 class="text-lg font-semibold">Stats</h3>
      <ul class="list-disc list-inside">
        <li>HP: 45</li>
        <li>Attack: 49</li>
        <li>Defense: 49</li>
        <li>Speed: 45</li>
      </ul>
      <h3 class="text-lg font-semibold mt-4">Abilities</h3>
      <ul class="list-disc list-inside">
        <li>Overgrow</li>
        <li>Chlorophyll</li>
      </ul>
    </div>
  </div>
</div>
