<div class="animate-fadeIn w-full max-w-md md:max-w-xl lg:max-w-2xl mx-auto">
  <div class="flex items-center justify-center m-8">
    <div class="w-full shadow-lg rounded-lg overflow-hidden">
      <div class="bg-indigo-100 p-4">
        <div
          class="bg-gradient-to-r from-blue-600 to-purple-600 p-4 rounded-lg"
        >
          <div class="flex items-center justify-between mb-2">
            <button
              class="bg-indigo-500 hover:bg-indigo-600 text-white p-2 rounded-lg transition-colors"
            >
              <a [routerLink]="['']" class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 19l-7-7m0 0l7-7m-7 7h18"
                  />
                </svg>
              </a>
            </button>
            <h2
              class="text-2xl md:text-4xl font-bold text-white drop-shadow-lg mx-auto"
            >
              {{ pokemonDetails()?.name | titlecase }}
            </h2>
            <div class="text-white text-center hidden md:block">
              No. {{ pokemonDetails()?.id }}
            </div>
          </div>
        </div>
        <img
          class="w-full h-100 object-cover"
          [src]="
            pokemonDetails()?.sprites?.other?.['official-artwork']?.front_default
          "
          alt="pokemonDetails().name"
        />
      </div>
      <div class="bg-indigo-100 p-4">
        <div class="bg-gradient-to-r from-blue-600 to-purple-600 rounded-lg">
          <div class="p-4">
            <div class="flex flex-row justify-around">
              <div class="flex flex-col">
                <h2 class="text-lg text-left font-semibold text-white">
                  Stats:
                </h2>
                <ul
                  class="list-disc sm:list-inside m-2 pl-4 sm:pl-0 text-white"
                >
                  @for (stats of pokemonDetails()?.stats; track stats.stat.name)
                  {
                  <li
                    [ngClass]="{
                      'hidden sm:list-item':
                        stats.stat.name === 'special-attack' ||
                        stats.stat.name === 'special-defense'
                    }"
                    class="mb-1 sm:mb-2"
                  >
                    <span class="ml-[-4px] sm:ml-0">
                      <span class="inline sm:hidden">
                        {{
                          stats.stat.name === 'defense'
                            ? 'Def'
                            : stats.stat.name === 'attack'
                            ? 'Atk'
                            : stats.stat.name === 'speed'
                            ? 'Spd'
                            : (stats.stat.name | titlecase)
                        }}
                      </span>
                      <span class="hidden sm:inline">
                        {{ stats.stat.name | titlecase }} </span
                      >:
                      {{ stats.base_stat }}
                    </span>
                  </li>
                  }
                </ul>
              </div>

              <div class="flex flex-col">
                <h2 class="text-lg font-semibold text-center text-white">
                  Types:
                </h2>
                <div class="flex flex-wrap justify-center gap-2 m-2">
                  @for (type of pokemonDetails()?.types; track type.type.name) {
                  <li
                    class="list-none px-3 py-1 rounded-full bg-yellow-500 hover:bg-yellow-400 transition-colors duration-300 text-white text-sm font-medium"
                  >
                    {{ type.type.name | titlecase }}
                  </li>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
